.movie-container{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 40px;
    padding-bottom: 20px;
    background-color: rgb(43, 41, 41);
}

.poster{
    margin-right: 40px;
}

h4{
    color: white;
    font-weight: 500;
    font-style: italic;
}

h3{
    font-weight: 500;
}

td{
    border-bottom: none;
    color: white;
}

#table{
    color: white;
    font-size: 40px;
    padding: 0px;
}

.movie-poster{
    margin-top: 20px;
    display: inline-block;
    height: 400px;
    width: 275px;
}
