.releases-container {
  display: flex;
  flex-direction: row;
  width: auto;
  justify-content: flex-starts;
}

.releases-box {
  text-align: center;
  background-color: rgb(43, 41, 41);
  padding: 25px 25px 0px 0px;
  max-width: 97%;
  overflow-x: scroll;
  overflow-y: hidden;
}

.releases,
.premiers {
  text-align: center;
  background-color: rgb(43, 41, 41);
  padding: 20px;
}

h2,
h3 {
  color: white;
}

.premiers-containter {
  display: flex;
  flex-direction: row;
  width: auto;
  justify-content: flex-starts;
}

.premiers-box1 {
  text-align: center;
  background-color: rgb(43, 41, 41);
  padding: 25px 25px 0px 0px;
  max-width: 97%;
  overflow-x: scroll;
  overflow-y: hidden;
}
