.my-list{
    text-align: center;
    background-color: rgb(43, 41, 41);
    padding: 20px;
    padding-bottom: 60px;
}
.mylist-container {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: flex-starts;
  }


.mylist-box {
    text-align: center;
    background-color: rgb(43, 41, 41);
    padding: 25px 25px 0px 0px;
    max-width: 97%;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  