.header {
  font-size: 20px;
  font-weight: 600;
  color: white;
  background: #222;
  display: flex;
  justify-content: space-between;
  padding: 25px;
  align-items: center;
}
.nav-cell2 {
  display: flex;
  padding-left: 20px;
  align-items: center;
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: white;
}

a:active {
  color: rgb(180, 195, 209);
}

a:visited {
  color: white;
}

a:hover {
  color: rgb(180, 195, 209);
}
