.footer{
    display: block;
    width: auto;
    height: 200px;
    background-color: #222;
    text-align: center;
    color:aliceblue; 
    padding: 20px;
}

.icons-containter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 200px;
}