.container {
  border: 1px solid #dddddd;
  width: 200px;
  height: 305px;
  position: relative;
  background-color: rgb(78, 78, 78);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.container:hover{
    transform: scale(1.05);
    z-index: 1;
}

.container:hover img {
    -webkit-filter: brightness(80%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.rating {
  float: left;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1000;
  background-color: #92ad40;
  padding: 5px;
  color: #ffffff;
  font-weight: bold;
}

img {
  width: 200px;
  height: 250px;
}

.filmName {
  font-size: 18px;
  font-weight: 500;
  margin: 0 auto;
  font-weight: 500;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 1px;
  align-items: center;
  text-align: center;
  color: rgb(191, 189, 189);
  line-height: 0.8;
}

.genres {
  font-size: 15px;
  color: rgb(210, 161, 14);
  font-style: italic;
  padding-left: 3px;
  padding-right: 3px;
}
